/* CodeIndex.css */
.canvas-container {
    position: relative;
  }
  
  #myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the canvas behind the screen previews */
  }
  
  .screen-previews {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  /* Additional styling for CodePreview component if needed */
  